{%extends 'app/base.html'%}
{%block contenido%}
<div class="container" style="padding: 2%;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Precio</th>
          <th scope="col">Opciones</th>
         
        </tr>
      </thead>
      <tbody>
          {% for i in form %}
          <tr>
          
            <td>{{i.Nombre}}</td>
            <td>{{i.Preferencia}}</td>
            <td>{{i.Precio}}</td>
            <td> <a href="{%url 'Editar' i.id%}" class="btn btn-info btn-md offset-md-3">Modificar</a>
              <a href="{%url 'Eliminar' i.id%}" class="btn btn-warning btn-md  offset-md-2 ">Eliminar</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{%endblock%}